---
// src/layouts/BaseLayout.astro
import '@styles/style.css';

type Props = {
  title: string;
}

const { title } = Astro.props;
const theme = Astro.cookies.get('theme')?.value || 'dark';
const density = Astro.cookies.get('density')?.value || 'default';
---

<!doctype html>
<html lang="en" data-theme={theme} data-density={density}>
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
</head>
<body>
<slot />
</body>
</html>
