node_modules/
.astro/
.idea/
coverage/
build/
dist/
lib/
*storybook.log
storybook-static
.DS_Store
logs
*.log
npm-debug.log*
coverage
*.lcov
.npm
.turbo
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore generated TypeScript Project Reference-artifacts in source code
*.tsbuildinfo
packages/**/*.d.ts
packages/**/*.d.mts
tools/**/*.d.ts
tools/**/*.d.mts

# ... but keep "handwritten" *.d.ts files
!packages/**/global.d.ts
