# Save exact versions in package.json
save-exact=true

# Prefer offline mode to speed up installations
prefer-offline=true

# enforces strict compatibility checks between the Node.js version specified in a project's package.json file and the currently installed Node.js version.
engine-strict = true
