# Save exact versions in package.json

# Prefer offline mode to speed up installations

# enforces strict compatibility checks between the Node.js version specified in a project's package.json file and the currently installed Node.js version.
