/* packages/astro-forms/src/forms.css */
@import "./forms-tokens.css" layer(components);

@layer components {
  /* --- Error Message --- */
  .form-error-message {
    color: var(--form-error-color);
    display: none;
    font-size: var(--form-font-size-s);
    user-select: none;
  }

  /* --- Label --- */
  .form-label {
    display: inline-flex;
    gap: var(--space-xs, 0.25rem);
    flex-wrap: nowrap;
    cursor: pointer;
    user-select: none;
    line-height: 1;
    font-size: var(--font-size-m);
    width: fit-content;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    position: relative;
  }

  legend.form-label {
    cursor: default;
    float: left;
    padding: 0;
    margin: 0;
  }

  /* ====================================================================================== */
  /*  Safari does not take gap into account if fieldset container has flex- or grid layout  */
  /* ====================================================================================== */
  @supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    legend.form-label {
      margin-bottom: var(--form-space-s, 0.5rem);
    }
  }

  /* --- Input Group --- */
  .form-input-group {
    display: grid;
    align-items: baseline;
    column-gap: var(--form-space-s);
    width: 100%;

    & label {
      grid-area: label;
    }

    & .form-radio-input,
    & .form-checkbox-input {
      grid-area: control;
    }

    & .form-error-message {
      grid-area: error;
    }

    &.layout-top {
      grid-template-areas:
        "label"
        "control";
      grid-template-columns: 1fr;
      row-gap: var(--form-space-xs);

      &:has(.form-error-message) {
        grid-template-areas:
          "label"
          "control"
          "error";
        row-gap: var(--form-space-xs);
      }
    }

    &.layout-before {
      grid-template-areas: "label control";
      grid-template-columns: max-content 1fr;

      &:has(.form-error-message) {
        grid-template-areas:
          "label control"
          ".     error";
      }
    }

    &.layout-after {
      grid-template-areas: "control label";
      grid-template-columns: max-content 1fr;

      &:has(.form-error-message) {
        grid-template-areas:
          "control label"
          ".       error";
      }
    }

    &:has(:disabled) label {
      color: var(--form-muted-text);
      cursor: not-allowed;
    }

    &:has(:is(input:focus-visible, textarea:focus-visible)) label {
      color: var(--form-brand-text-color);
    }

    &:has(:is([type="checkbox"][aria-invalid="true"]:checked)) .form-error-message {
      display: block;
    }

    &:has(:is(:required:not([type="checkbox"]):placeholder-shown, [type="checkbox"]:required:not(:checked))) {
      & > label::after {
        content: "*";
        transform: scale(1.3) translateY(10%);
      }
    }

    &:has(
        :is(
            input:not([type="checkbox"])[aria-invalid="true"]:not(:placeholder-shown),
            [type="checkbox"][aria-invalid="true"]:checked,
            textarea[aria-invalid="true"]:not(:placeholder-shown),
            select[aria-invalid="true"]:not(:empty)
          )
      ) {
      & > label::after {
        background-color: var(--form-error-color);
        content: "";
        width: 1em;
        transform: scale(1.3) translateY(-5%);
        -webkit-mask-image: url("./raw-svg/warning.svg");
        mask-image: url("./raw-svg/warning.svg");
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }

      & > .form-error-message {
        display: block;
      }
    }
  }

  /* --- Radio Set Container --- */
  .form-radio-set {
    border: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: var(--form-space-s);
    width: 100%;

    &.form-legend-before {
      flex-direction: column;
    }

    &[aria-required="true"] {
      & legend.form-label::after {
        content: "*";
        transform: scale(1.4) translateY(10%);
      }
    }

    &[aria-invalid="true"] {
      & legend::after {
        background-color: var(--form-error-color);
        content: "";
        width: 1em;
        transform: scale(1.3) translateY(-5%);
        -webkit-mask-image: url("./raw-svg/warning.svg");
        mask-image: url("./raw-svg/warning.svg");
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
    }
  }

  .form-radio-set-inline-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--form-space-s) var(--form-space-m);
    width: 100%;

    & legend.form-label {
      width: auto;
      margin: 0;
    }
  }

  .form-radio-set-options {
    display: flex;
    gap: var(--form-space-s);

    &.layout-stack {
      flex-direction: column;
      align-items: flex-start;
    }

    &.layout-inline {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--form-space-s) var(--form-space-m);

      & .form-input-group {
        width: auto;
      }
    }
  }

  /* --- Radio and Checkbox --- */
  input[type="radio"].form-radio-input,
  input[type="checkbox"].form-checkbox-input {
    cursor: pointer;
    font-size: inherit;
    position: relative;
    user-select: none;
    vertical-align: middle;
  }

  input[type="radio"].form-radio-input,
  input[type="checkbox"].form-checkbox-input {
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--form-input-background-color);
    block-size: var(--_form-input-height);
    border: 1px solid var(--form-border-color);
    box-sizing: border-box;
    display: inline-flex;
    inline-size: var(--_form-input-height);
    justify-content: center;
    margin: 0;
    order: unset;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;
  }

  input[type="radio"].form-radio-input {
    border-radius: 50%;
  }

  input[type="checkbox"].form-checkbox-input {
    border-radius: var(--form-space-2xs);
  }

  input[type="radio"].form-radio-input::before,
  input[type="checkbox"].form-checkbox-input::before {
    content: "";
    inline-size: var(--_form-marker-size);
    block-size: var(--_form-marker-size);
    background-color: oklch(from var(--form-brand-text-color) calc(l + 0.05) c h / 90%);
    transition:
      transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.15s ease;
    opacity: 0;
  }

  input[type="radio"].form-radio-input::before {
    border-radius: 90%;
  }

  input[type="checkbox"].form-checkbox-input::before {
    clip-path: polygon(14% 44%, 0 58%, 38% 96%, 100% 16%, 84% 2%, 38% 68%);
  }

  input[type="radio"].form-radio-input:checked,
  input[type="checkbox"].form-checkbox-input:checked {
    background-color: var(--form-input-background-active-color);
    border-color: var(--form-brand-text-color);
  }

  input[type="radio"].form-radio-input:checked::before,
  input[type="checkbox"].form-checkbox-input:checked::before {
    opacity: 1;
  }

  input[type="radio"].form-radio-input:disabled,
  input[type="checkbox"].form-checkbox-input:disabled {
    background-color: var(--form-input-background-disabled-color);
    cursor: not-allowed;
    border-color: var(--form-border-color);

    &::before {
      background-color: oklch(from var(--form-brand-text-color) calc(l + 0.05) c h / 20%);
    }
  }

  input[type="checkbox"][aria-invalid="true"]:checked {
    border-color: var(--form-error-color);
  }

  /* --- Input Control Container ---*/
  .form-input-control {
    grid-area: control;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--form-space-xs);
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-inline: var(--form-space-s);
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-border-color);
    border-radius: var(--form-space-2xs);
    transition:
      border-color 0.2s,
      box-shadow 0.2s,
      background-color 0.2s;

    &:focus-within {
      border: 1px solid var(--form-brand-text-color);
      box-shadow:
        0 0 0 max(2px, 0.15em) canvas,
        0 0 0 max(4px, 0.25em) var(--form-brand-text-color);
      outline: none;
    }

    &:has(textarea) {
      padding-inline: 0;
    }

    &:has([aria-invalid="true"]:not(:placeholder-shown)) {
      border-color: var(--form-error-color);

      &:focus-within {
        border-color: var(--form-error-color);
        box-shadow:
          0 0 0 max(2px, 0.15em) canvas,
          0 0 0 max(4px, 0.25em) var(--form-error-color);
      }
    }

    &:has(:is(:disabled, [readonly])) {
      background-color: var(--form-input-background-disabled-color);

      & .form-clear-icon {
        /* biome-ignore lint/complexity/noImportantStyles: 🤕 */
        display: none !important;
      }

      & :is(.form-search-icon, .form-picker-icon) {
        color: var(--form-muted-text);
        cursor: not-allowed;
      }
    }

    &:has(input:placeholder-shown) {
      & .form-clear-icon {
        /* biome-ignore lint/complexity/noImportantStyles: 🤕 */
        display: none !important;
      }
    }

    &:has([readonly]) {
      border-style: dashed;
    }
  }

  /* --- Text Input --- */
  .form-text-input,
  .form-range-input,
  .form-select-input,
  .form-textarea-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: inherit;
    flex: 1;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    padding-block: var(--form-space-xs);
    padding-inline: 0;
    width: 100%;

    &:disabled,
    &[readonly] {
      color: var(--form-muted-text);
      cursor: not-allowed;
    }

    &[readonly] {
      cursor: default;
    }
  }

  .form-text-input {
    &[type="search"] {
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }

  .form-text-input,
  .form-select-input {
    text-overflow: ellipsis;
  }

  /* --- Text Area --- */
  .form-textarea-input {
    padding-inline: var(--form-space-s);
    resize: vertical;
    min-block-size: calc(var(--_form-input-height) * 5 - var(--form-space-xs) + 2px);
    max-block-size: 12.05lh;
  }

  /* --- Native SelectInput --- */
  .form-select-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    & :is(option, optgroup) {
      color: inherit;
      background-color: var(--form-input-background-color);
    }
  }

  /* --- Range Input --- */
  .form-range-input[type="range"] {
    cursor: pointer;
    flex: 100%;

    &:disabled {
      cursor: not-allowed;
    }
  }

  /* Webkit */
  .form-range-input::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--form-slider-height);
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-border-color);
    border-radius: calc(infinity * 1px);
    transition: border-color 0.2s;

    &:focus {
      outline: none;
    }
  }

  .form-range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: calc((var(--form-slider-thumb-height) - var(--form-slider-height)) / -2);
    height: var(--form-slider-thumb-height);
    width: var(--form-slider-thumb-height);
    border-radius: 50%;
    background-color: oklch(from var(--form-brand-text-color) l c h / 90%);
    border: 1px solid var(--form-brand-text-color);
    transition:
      transform 0.1s ease,
      background-color 0.2s;
  }

  .form-range-input::-webkit-slider-thumb:hover {
    transform: scale(1.15);
  }

  .form-input-control:has(.form-range-input:disabled) .form-range-input::-webkit-slider-thumb {
    background-color: var(--form-input-background-disabled-color);
    border-color: var(--form-border-color);
  }

  .form-input-control:has(.form-range-input:focus) .form-range-input::-webkit-slider-runnable-track {
    border-color: var(--form-border-focus-color);
  }

  /* Mozilla */
  .form-range-input::-moz-range-track {
    width: 100%;
    height: var(--form-slider-height);
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-border-color);
    border-radius: calc(infinity * 1px);
  }

  .form-range-input::-moz-range-thumb {
    height: var(--form-slider-thumb-height);
    width: var(--form-slider-thumb-height);
    border: 1px solid var(--form-border-focus-color);
    border-radius: 50%;
    background-color: oklch(from var(--form-border-focus-color) l c h / 90%);
    cursor: pointer;
    transition: transform 0.1s ease;
  }

  .form-range-input::-moz-range-thumb:hover {
    transform: scale(1.15);
  }

  .form-input-control:has(.form-range-input:disabled) .form-range-input::-moz-range-thumb {
    background-color: var(--form-input-background-disabled-color);
    border-color: var(--form-border-color);
  }

  .form-input-control:has(.form-range-input:focus) .form-range-input::-moz-range-track {
    border-color: var(--form-border-focus-color);
  }

  .form-range-number-input {
    width: 12ch;
    text-align: center;

    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
