/* packages/astro-forms/src/forms-tokens.css */
@layer components {
  :root,
  body {
    --form-space-xl: var(--space-xl, 1.5rem);
    --form-space-l: var(--space-l, 1.35rem);
    --form-space-m: var(--space-m, 1rem);
    --form-space-s: var(--space-s, 0.5rem);
    --form-space-xs: var(--space-xs, 0.25rem);
    --form-space-2xs: var(--space-2xs, 0.15rem);
    --form-space-3xs: var(--space-3xs, 0.1rem);
    --form-accent-color: var(--accent-color, rebeccapurple);
    --form-brand-text-color: var(--brand-text-color, #2563eb);
    --form-border-color: var(--border-color, #cccccc);
    --form-border-focus-color: var(--form-brand-text-color);
    --form-muted-text: var(--muted-text, #666666);
    --form-error-color: oklch(0.6 0.18 20);
    --form-font-size-s: var(--font-size-s, 0.75rem);
    --form-input-background-color: oklch(from var(--swatch-color) calc(l + 0.05) c h);
    --form-input-background-active-color: oklch(from var(--swatch-color) calc(l - 0.05) c h);
    --form-input-background-hover-color: oklch(from var(--swatch-color) calc(l + 0.02) c h);
    --form-input-background-disabled-color: oklch(from var(--swatch-color) calc(l + 0.01) c h);
    --form-input-scale: 1.5;
    --_form-input-height: calc(1em * var(--form-input-scale));
    --_form-marker-size: calc(var(--_form-input-height) * 0.5);
    --form-range-track-height: var(--form-space-xs);
    --form-slider-thumb-height: calc(var(--form-space-m) * 1.2);
    --form-switch-width: calc(var(--_form-input-height) * 2);
    --form-switch-gap: calc(var(--_form-input-height) * 0.1);
    --form-switch-knob-size: calc(var(--_form-input-height) * 0.76);
  }
}
