/* packages/astro-forms/src/forms.css */
@layer components {
  :root,
  body {
    --form-space-xl: var(--space-xl, 1.5rem);
    --form-space-l: var(--space-l, 1.35rem);
    --form-space-m: var(--space-m, 1rem);
    --form-space-s: var(--space-s, 0.5rem);
    --form-space-xs: var(--space-xs, 0.25rem);
    --form-space-2xs: var(--space-2xs, 0.15rem);
    --form-space-3xs: var(--space-3xs, 0.1rem);
    --form-accent-color: var(--accent-color, rebeccapurple);
    --form-border-color: var(--border-color, #cccccc);
    --form-brand-text-color: var(--brand-text-color, #2563eb);
    --form-muted-text: var(--muted-text, #666666);
    --form-error-color: oklch(0.6 0.18 20);
    --form-font-size-s: var(--font-size-s, 0.75rem);
    --form-input-background-color: oklch(from var(--swatch-color) calc(l + 0.05) c h);
    --form-input-background-active-color: oklch(from var(--swatch-color) calc(l - 0.05) c h);
    --form-input-background-hover-color: oklch(from var(--swatch-color) calc(l + 0.02) c h);
    --form-input-background-disabled-color: oklch(from var(--swatch-color) calc(l + 0.01) c h);
    --form-input-scale: 1.5;
    --_form-input-height: calc(1em * var(--form-input-scale));
    --_form-marker-size: calc(var(--_form-input-height) * 0.5);
  }

  /* --- Error Message --- */
  .form-error-message {
    color: var(--form-error-color);
    display: none;
    font-size: var(--form-font-size-s);
    user-select: none;
  }

  /* --- Label --- */
  .form-label {
    display: inline-flex;
    gap: var(--space-xs, 0.25rem);
    flex-wrap: nowrap;
    cursor: pointer;
    user-select: none;
    line-height: 1;
    font-size: var(--font-size-m);
    width: fit-content;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    position: relative;
  }

  legend.form-label {
    cursor: default;
    float: left;
    padding: 0;
    margin: 0;
  }

  /* ====================================================================================== */
  /*  Safari does not take gap into account if fieldset container has flex- or grid layout  */
  /* ====================================================================================== */
  @supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    legend.form-label {
      margin-bottom: var(--form-space-s, 0.5rem);
    }
  }

  /* --- Input Group --- */
  .form-input-group {
    display: grid;
    align-items: baseline;
    column-gap: var(--form-space-s);
    width: 100%;

    & label {
      grid-area: label;
    }

    & .form-radio-input,
    & .form-checkbox-input {
      grid-area: control;
    }

    & .form-error-message {
      grid-area: error;
    }

    &.layout-top {
      grid-template-areas:
        "label"
        "control";
      grid-template-columns: 1fr;
      row-gap: var(--form-space-xs);

      &:has(.form-error-message) {
        grid-template-areas:
          "label"
          "control"
          "error";
        row-gap: var(--form-space-s);
      }
    }

    &.layout-before {
      grid-template-areas: "label control";
      grid-template-columns: max-content 1fr;

      &:has(.form-error-message) {
        grid-template-areas:
          "label control"
          ".     error";
      }
    }

    &.layout-after {
      grid-template-areas: "control label";
      grid-template-columns: max-content 1fr;

      &:has(.form-error-message) {
        grid-template-areas:
          "control label"
          ".       error";
      }
    }

    &:has(:disabled) label {
      color: var(--form-muted-text);
      cursor: not-allowed;
    }

    &:has(:is(input:focus-visible, textarea:focus-visible)) label {
      color: var(--form-brand-text-color);
    }

    &:has(:is([type="checkbox"][aria-invalid="true"]:checked)) .form-error-message {
      display: block;
      margin-top: var(--form-space-3xs);
    }

    &:has(
        :is(.form-checkbox-input[type="checkbox"][aria-invalid="true"]:checked),
        textarea[aria-invalid="true"]:not(:placeholder-shown)
      ) {
      & > .form-label::after {
        background-color: var(--form-error-color);
        content: "";
        width: 1em;
        transform: scale(1.3) translateY(-8%);
        -webkit-mask-image: url("./raw-svg/warning.svg");
        mask-image: url("./raw-svg/warning.svg");
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
    }

    &:has(:is(:required:placeholder-shown, .form-checkbox-input[type="checkbox"]:required:not(:checked))) {
      & > label::after {
        content: "*";
        transform: scale(1.3) translateY(10%);
      }
    }
  }

  /* --- Radio Set Container --- */
  .form-radio-set {
    border: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: var(--form-space-s);
    width: 100%;

    &.form-legend-before {
      flex-direction: column;
    }

    &[aria-required="true"] {
      & legend.form-label::after {
        content: "*";
        transform: scale(1.4) translateY(10%);
      }
    }

    &[aria-invalid="true"] {
      & legend.form-label::after {
        background-color: var(--form-error-color);
        content: "";
        width: 1em;
        transform: scale(1.3) translateY(-5%);
        -webkit-mask-image: url("./raw-svg/warning.svg");
        mask-image: url("./raw-svg/warning.svg");
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
    }
  }

  .form-radio-set-inline-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--form-space-s) var(--form-space-m);
    width: 100%;

    & legend.form-label {
      width: auto;
      margin: 0;
    }
  }

  .form-radio-set-options {
    display: flex;
    gap: var(--form-space-s);

    &.layout-stack {
      flex-direction: column;
      align-items: flex-start;
    }

    &.layout-inline {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--form-space-s) var(--form-space-m);

      & .form-input-group {
        width: auto;
      }
    }
  }

  /* --- Radio and Checkbox --- */
  input[type="radio"].form-radio-input,
  input[type="checkbox"].form-checkbox-input {
    cursor: pointer;
    font-size: inherit;
    position: relative;
    user-select: none;
    vertical-align: middle;
  }

  input[type="radio"].form-radio-input,
  input[type="checkbox"].form-checkbox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
    appearance: none;
    background-color: var(--form-input-background-color);
    block-size: var(--_form-input-height);
    border: 1px solid var(--form-border-color);
    box-sizing: border-box;
    display: inline-flex;
    inline-size: var(--_form-input-height);
    justify-content: center;
    margin: 0;
    order: unset;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;
  }

  input[type="radio"].form-radio-input {
    border-radius: 50%;
  }

  input[type="checkbox"].form-checkbox-input {
    border-radius: var(--form-space-2xs);
  }

  input[type="radio"].form-radio-input::before,
  input[type="checkbox"].form-checkbox-input::before {
    content: "";
    inline-size: var(--_form-marker-size);
    block-size: var(--_form-marker-size);
    background-color: oklch(from var(--form-brand-text-color) calc(l + 0.05) c h / 90%);
    transition:
      transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.15s ease;
    opacity: 0;
  }

  input[type="radio"].form-radio-input::before {
    border-radius: 90%;
  }

  input[type="checkbox"].form-checkbox-input::before {
    clip-path: polygon(14% 44%, 0 58%, 38% 96%, 100% 16%, 84% 2%, 38% 68%);
  }

  input[type="radio"].form-radio-input:checked,
  input[type="checkbox"].form-checkbox-input:checked {
    background-color: var(--form-input-background-active-color);
    border-color: var(--form-brand-text-color);
  }

  input[type="radio"].form-radio-input:checked::before,
  input[type="checkbox"].form-checkbox-input:checked::before {
    opacity: 1;
  }

  input[type="radio"].form-radio-input:disabled,
  input[type="checkbox"].form-checkbox-input:disabled {
    background-color: var(--form-input-background-disabled-color);
    cursor: not-allowed;
    border-color: var(--form-border-color);

    &::before {
      background-color: oklch(from var(--form-brand-text-color) calc(l + 0.05) c h / 20%);
    }
  }

  input[type="checkbox"][aria-invalid="true"]:checked {
    border-color: var(--form-error-color);
  }

  /* --- Input Control Container ---*/
  .form-input-control {
    grid-area: control;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--form-space-xs);
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-inline: var(--form-space-s);
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-border-color);
    border-radius: var(--form-space-2xs);
    transition:
      border-color 0.2s,
      box-shadow 0.2s,
      background-color 0.2s;

    &:focus-within {
      border: 1px solid var(--form-brand-text-color);
      box-shadow:
        0 0 0 max(2px, 0.15em) canvas,
        0 0 0 max(4px, 0.25em) var(--form-brand-text-color);
      outline: none;
    }

    &:has(textarea) {
      padding-inline: 0;
    }

    &:has([aria-invalid="true"]) {
      border-color: var(--form-error-color);

      &:focus-within {
        border-color: var(--form-error-color);
        box-shadow:
          0 0 0 max(2px, 0.15em) canvas,
          0 0 0 max(4px, 0.25em) var(--form-error-color);
      }
    }

    &:has(:is(:disabled, [readonly])) {
      background-color: var(--form-input-background-disabled-color);

      & .clear-icon {
        background-color: transparent;
        display: none !important;
      }

      & .form-search-icon {
        color: var(--form-muted-text);
        cursor: not-allowed;
      }
    }

    &:has(.form-text-input:placeholder-shown) {
      & .clear-icon {
        display: none !important;
        visibility: hidden;
      }
    }

    &:has([readonly]) {
      border-style: dashed;
    }
  }

  /* --- Text Input --- */
  .form-text-input,
  .form-select-input,
  .form-textarea-input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: inherit;
    flex: 1;
    font-size: inherit;
    font-family: inherit;
    padding-block: var(--form-space-xs);
    padding-inline: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;

    &:disabled,
    &[readonly] {
      color: var(--form-muted-text);
      cursor: not-allowed;
    }

    &[readonly] {
      cursor: default;
    }
  }

  .form-text-input {
    &[type="search"] {
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }

  .form-text-input,
  .form-select-input {
    text-overflow: ellipsis;
  }

  /* --- Text Area --- */
  .form-textarea-input {
    padding-inline: var(--form-space-s);
    resize: vertical;
    min-block-size: calc(var(--_form-input-height) * 5 - var(--form-space-xs) + 1px);
    max-block-size: 11.94lh;
  }

  /* --- Native SelectInput --- */
  .form-select-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

  & .chevron-icon {
    align-content: center;
    aspect-ratio: 1;
    background: none;
    border: none;
    box-shadow: none;
    display: inline-grid;
    outline: none;
    border-top: 0.13em solid currentColor;
    border-right: 0.13em solid currentColor;
    width: 0.6em;
    height: 0.6em;
    transform: rotate(135deg) translateY(0.2em);
  }
}
