/* src/components/form-element/form-elements.css */

@layer components {
  /* --- Input Related Variables --- */
  .combobox-container,
  .combobox-results-popover,
  .combobox-input,
  .input-container,
  .input-group,
  .listbox,
  .listbox-group,
  .listbox-option,
  .text-input,
  .toggle-switch,
  .select-container,
  input[type="radio"].radio-input,
  input[type="checkbox"].checkbox-input,
  input[type="range"].range-input {
    --input-background-color: oklch(from var(--swatch-color) calc(l + 0.05) c h);
    --input-background-active-color: oklch(from var(--swatch-color) calc(l - 0.05) c h);
    --input-background-hover-color: oklch(from var(--swatch-color) calc(l + 0.02) c h);
    --input-background-disabled-color: oklch(from var(--swatch-color) calc(l + 0.01) c h);
    --_input-scale: 1.5;
    --_input-height: calc(1em * var(--_input-scale));
    --_marker-size: calc(var(--_input-height) * 0.55);
    --_switch-width: calc(var(--_input-height) * 2);
    --_switch-gap: calc(var(--_input-height) * 0.1);
    --_switch-knob-size: calc(var(--_input-height) * 0.76);
    --_error-color: oklch(0.6 0.18 20);
  }

  /* --- Fields Group --- */
  .field-group {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: var(--space-m, 0.75rem) var(--space-m, 0.75rem);
    width: fit-content;
    flex-wrap: wrap;

    &.orientation-column {
      flex-direction: column;
    }

    &.orientation-row {
      flex-direction: row;
    }

    & legend {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
    }

    &.bordered {
      border: 1px solid var(--border-color);
      border-radius: var(--space-2xs, 2px);
      padding: var(--space-m, 1rem) var(--space-l, 1.5rem);

      & legend {
        padding: 0 0 0 var(--space-xs, 0.25rem);
        margin: 0 0 0 calc(var(--space-xs, 0.25rem) * -1);
      }
    }
  }

  /* --- Input Group --- */
  .input-group {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--space-s);
    position: relative;

    &.label-before {
      flex-direction: row;
      white-space: nowrap;
    }

    &.label-top {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-xs);
    }

    & label {
      line-height: 1;
      order: 1;
    }

    & .error-message {
      color: var(--_error-color);
      display: none;
      font-size: var(--font-size-s);
      order: 3;
      user-select: none;
    }

    &:has(:disabled) > label {
      color: var(--muted-text);
      cursor: not-allowed;
    }

    &:has(:focus) > label {
      color: var(--brand-text-color);
    }

    &:has(:is(:required:placeholder-shown, .select-input:required, :required[type="checkbox"]:not(:checked))) {
      & > label::after {
        content: "*";
        transform: scale(1.2) translate(-0.2em, 0.1em);
      }
    }

    &:has(
        :is(
            .select-input[aria-invalid="true"],
            [type="checkbox"][aria-invalid="true"]:checked,
            [aria-invalid="true"]:required:not(:placeholder-shown)
          )
      ) {
      & > label::after {
        color: var(--_error-color);
        content: "\26A0"; /* ⚠ */
        transform: scale(1.8) translate(-0.1em, -0.1em);
      }

      & > .error-message {
        display: block;
      }
    }
  }

  .toggle-switch,
  input[type="radio"].radio-input,
  input[type="checkbox"].checkbox-input {
    cursor: pointer;
    font-size: inherit;
    position: relative;
    user-select: none;
    vertical-align: middle;
  }

  /* --- Toggle Switch --- */
  .toggle-switch {
    display: inline-flex;
    align-items: center;
    inline-size: var(--_switch-width);
    block-size: var(--_input-height);

    /* Slide area */
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--input-background-color);
      border: 1px solid var(--border-color);
      border-radius: calc(infinity * 1px);
      transition: background-color 0.2s ease;
      z-index: 1;
      box-sizing: content-box;
    }

    /* Toggle Knob */
    &::after {
      content: "";
      position: absolute;
      inline-size: var(--_switch-knob-size);
      block-size: var(--_switch-knob-size);
      top: 50%;
      transform: translate(var(--_switch-gap), -50%);
      background-color: oklch(from var(--brand-text-color) calc(l + 0.05) c h / 90%);
      border-radius: 50%;
      border: 1px solid var(--accent-color);
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 3;
      box-sizing: border-box;
    }

    /* Hide Input */
    & input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    /* Optional on / off icon */
    & .icon-on,
    & .icon-off {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      pointer-events: none;
      line-height: 1;
      inline-size: var(--_input-height);
      block-size: var(--_input-height);
      box-sizing: border-box;
      transition: opacity 0.2s;
    }

    & .icon-on {
      left: var(--_switch-gap);
      opacity: 0;
    }

    & .icon-off {
      right: var(--_switch-gap);
      opacity: 1;
    }

    &:has(:checked) {
      &::before {
        background-color: var(--input-background-active-color);
      }

      &::after {
        transform: translate(calc(var(--_input-height) + var(--_switch-gap)), -50%);
      }

      & .icon-on {
        opacity: 1;
      }

      & .icon-off {
        opacity: 0;
      }
    }

    &:has(:focus-visible)::before {
      outline: 2px solid var(--brand-text-color);
      outline-offset: 2px;
      box-shadow: none;
    }

    &:has(:disabled) {
      &::before {
        cursor: not-allowed;
        background-color: var(--input-background-disabled-color);
      }

      &::after {
        cursor: not-allowed;
        background-color: oklch(from var(--brand-text-color) calc(l + 0.05) c h / 20%);
      }

      & .icon-on,
      & .icon-off {
        color: var(--muted-text);
      }
    }
  }

  /* --- Radio and Checkbox --- */
  input[type="radio"].radio-input,
  input[type="checkbox"].checkbox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
    appearance: none;
    background-color: var(--input-background-color);
    block-size: var(--_input-height);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    display: inline-flex;
    inline-size: var(--_input-height);
    justify-content: center;
    margin: 0;
    order: unset;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;
  }

  input[type="radio"].radio-input {
    border-radius: 50%;
  }
  input[type="checkbox"].checkbox-input {
    border-radius: var(--space-2xs);
  }

  input[type="radio"].radio-input::before,
  input[type="checkbox"].checkbox-input::before {
    content: "";
    inline-size: var(--_marker-size);
    block-size: var(--_marker-size);
    background-color: oklch(from var(--brand-text-color) calc(l + 0.05) c h / 90%);
    transition:
      transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.15s ease;
    opacity: 0;
  }

  input[type="radio"].radio-input::before {
    border-radius: 50%;
  }

  input[type="checkbox"].checkbox-input::before {
    clip-path: polygon(14% 44%, 0 58%, 38% 96%, 100% 16%, 84% 2%, 38% 68%);
  }

  input[type="radio"].radio-input:checked,
  input[type="checkbox"].checkbox-input:checked {
    background-color: var(--input-background-active-color);
    border-color: var(--accent-color);
  }

  input[type="radio"].radio-input:checked::before,
  input[type="checkbox"].checkbox-input:checked::before {
    opacity: 1;
  }

  input[type="radio"].radio-input:focus-visible,
  input[type="checkbox"].checkbox-input:focus-visible {
    outline: var(--outline-size) solid var(--brand-text-color);
    outline-offset: var(--outline-size);
    box-shadow: none;
  }

  input[type="radio"].radio-input:disabled,
  input[type="checkbox"].checkbox-input:disabled {
    background-color: var(--input-background-disabled-color);
    cursor: not-allowed;
    border-color: var(--border-color);

    &::before {
      background-color: oklch(from var(--brand-text-color) calc(l + 0.05) c h / 20%);
    }
  }

  input[type="checkbox"][aria-invalid="true"]:checked {
    border-color: var(--_error-color);
  }

  /* --- Icons used in inputs. --- */
  .icon {
    align-content: center;
    aspect-ratio: 1;
    background: none;
    border: none;
    box-shadow: none;
    display: inline-grid;
    height: 1em;
    outline: none;
    z-index: 2;

    &.search-icon {
      /* Magnifying glass, stroke-width='2' */
      background-color: currentColor;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27none%27%20stroke%3D%27%23000000%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%3E%3Ccircle%20cx%3D%2711%27%20cy%3D%2711%27%20r%3D%278%27/%3E%3Cline%20x1%3D%2721%27%20y1%3D%2721%27%20x2%3D%2716.65%27%20y2%3D%2716.65%27/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27none%27%20stroke%3D%27%23000000%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%3E%3Ccircle%20cx%3D%2711%27%20cy%3D%2711%27%20r%3D%278%27/%3E%3Cline%20x1%3D%2721%27%20y1%3D%2721%27%20x2%3D%2716.65%27%20y2%3D%2716.65%27/%3E%3C/svg%3E");
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      transform: rotate(90deg) scale(1.1);
    }

    &.chevron-icon {
      border-top: 0.13em solid currentColor;
      border-right: 0.13em solid currentColor;
      height: 0.6em;
      transform: rotate(135deg) translateY(0.2em);
    }

    &.clear-icon {
      font-weight: var(--font-weight-l);
      border-radius: 50%;
      background: none;

      &::before {
        content: "\00d7"; /* × */
      }
    }

    &.info-icon {
      &::before {
        border-radius: 50%;
        content: "ⓘ";
        transform: translateY(0.05em);
      }
    }
  }

  /* --- Text Input --- */
  .input-container {
    align-items: center;
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--space-2xs);
    display: inline-flex;
    flex-wrap: nowrap;
    gap: var(--space-xs);
    order: 2;
    padding-inline: var(--space-s);
    position: relative;
    transition:
      border-color 0.2s,
      box-shadow 0.2s,
      background-color 0.2s;
    width: 100%;

    &:focus-within {
      border: 1px solid var(--brand-text-color);
      box-shadow:
        0 0 0 max(2px, 0.15em) canvas,
        0 0 0 max(4px, 0.25em) var(--brand-text-color);
      outline: none;
    }

    &:has([aria-invalid="true"]:required:not(:placeholder-shown)) {
      border-color: var(--_error-color);
    }

    &:has(:is(:disabled, [readonly])) {
      background-color: var(--input-background-disabled-color);

      & .clear-icon {
        background-color: transparent;
        display: none;
      }

      & :is(.search-icon, .chevron-icon) {
        color: var(--muted-text);
        cursor: not-allowed;
      }

      & button.info-icon::before {
        background-color: var(--input-background-disabled-color);
      }
    }

    &:has(input:placeholder-shown) {
      & .clear-icon {
        display: none;
      }
    }

    &:has([readonly]) {
      border-style: dashed;
    }
  }

  .text-input[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
      appearance: none;
    }
  }

  .text-input,
  .select-input {
    background-color: transparent;
    border: none;
    color: inherit;
    flex: 1;
    font-size: inherit;
    outline: none;
    padding-block: var(--space-xs);
    padding-inline: 0;
    text-overflow: ellipsis;
    width: 100%;

    &:disabled,
    &[readonly] {
      color: var(--muted-text);
      cursor: not-allowed;
    }

    &[readonly] {
      cursor: default;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
      border: none;
      background-color: transparent;
    }
  }

  /* --- Textarea --- */
  .textarea-container {
    display: inline-grid;
    padding: 0;
  }

  .textarea-input {
    color: inherit;
    min-block-size: 5.15lh;
    max-height: 12.05lh;
    padding: var(--space-xs) var(--space-s);
    resize: vertical;
  }

  /* --- Native Select --- */
  .select-container {
    &:has([aria-invalid="true"]) {
      border-color: var(--_error-color);
    }
  }

  .select-input {
    appearance: none;
    cursor: pointer;
  }

  /* --- Range Input --- */
  .range-container {
    --_slider-height: var(--space-xs, 0.75rem);
    --_thumb-height: calc(var(--space-m, 1rem) * 1.2);

    padding-inline-start: var(--space-xs);
  }

  .range-input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
    }
  }

  /* Webkit */
  .range-input::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--_slider-height);
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    border-radius: calc(infinity * 1px);
    transition: border-color 0.2s;
  }

  .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc((var(--_thumb-height) - var(--_slider-height)) / -2);
    height: var(--_thumb-height);
    width: var(--_thumb-height);
    border-radius: 50%;
    background-color: oklch(from var(--brand-text-color) l c h / 90%);
    border: 1px solid var(--system-brand-color);
    transition:
      transform 0.1s ease,
      background-color 0.2s;
  }

  .range-input::-webkit-slider-thumb:hover {
    transform: scale(1.15);
  }

  .input-container:has(.range-input:disabled) .range-input::-webkit-slider-thumb {
    background-color: var(--input-background-disabled-color);
    border-color: var(--border-color);
  }

  .input-container:has(.range-input:focus) .range-input::-webkit-slider-runnable-track {
    border-color: var(--system-brand-color);
  }

  /* Mozilla */
  .range-input::-moz-range-track {
    width: 100%;
    height: var(--_slider-height);
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    border-radius: calc(infinity * 1px);
  }

  .range-input::-moz-range-thumb {
    height: var(--_thumb-height);
    width: var(--_thumb-height);
    border: 1px solid var(--system-brand-color);
    border-radius: 50%;
    background-color: oklch(from var(--brand-text-color) l c h / 90%);
    cursor: pointer;
    transition: transform 0.1s ease;
  }

  .range-input::-moz-range-thumb:hover {
    transform: scale(1.15);
  }

  .input-container:has(.range-input:disabled) .range-input::-moz-range-thumb {
    background-color: var(--input-background-disabled-color);
    border-color: var(--border-color);
  }

  .input-container:has(.range-input:focus) .range-input::-moz-range-track {
    border-color: var(--system-brand-color);
  }

  .range-number-input {
    width: 12ch;
    text-align: center;

    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  /* --- Listbox ---*/
  .listbox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: inherit;
    font-size: inherit;
    outline: none;
    background-color: var(--input-background-color);

    /* TODO: A container should be responsible for the listbox height */
    max-height: 40ch;
    overflow-y: auto;

    &:focus-visible {
      box-shadow: none;
      outline: var(--outline-size) solid var(--brand-text-color);
      outline-offset: var(--outline-size);

      transition: outline-color 0.5s;
    }

    &.bordered {
      border: 1px solid var(--border-color);
      border-radius: var(--space-2xs);

      &:focus-visible {
        border-color: var(--brand-text-color);
      }
    }
  }

  .listbox[aria-multiselectable="true"] {
    & .listbox-option {
      padding-left: var(--space-xl);

      &::before {
        position: absolute;
        left: var(--space-xs, 0.5rem);
        content: "";
        display: inline-block;
        width: var(--_input-height);
        height: var(--_input-height);
        border: 1px solid var(--border-color);
        border-radius: var(--space-3xs);
        background-color: var(--input-background-color);
        transform: scale(0.75) translateY(-6%);
        transition:
          background-color 0.15s,
          border-color 0.15s;
      }

      &[aria-selected="true"]::before {
        background-color: var(--input-background-active-color);
        border-color: var(--accent-color);
      }

      &[aria-selected="true"]::after {
        left: calc(var(--space-m) * 0.8);
      }
    }
  }

  /* aria-multiselectable is required, so it's safe to test for "false */
  .listbox[aria-multiselectable="false"][data-show-marker="true"] {
    & .listbox-option {
      padding-left: var(--space-l);
    }
  }

  .listbox[aria-multiselectable="false"]:not([data-show-marker="true"]) {
    & .listbox-option[aria-selected="true"]::after {
      display: none;
    }
  }

  .listbox-option {
    padding: var(--space-xs) var(--space-s);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.1s ease;
    position: relative;
    scroll-margin-top: calc(var(--_input-height) + var(--space-xs) * 2);
    scroll-margin-bottom: var(--space-xs);

    &[aria-selected="true"] {
      font-weight: 600;
      background-color: oklch(from var(--system-brand-color) calc(l + 0.1) c h / 5%);

      &::after {
        position: absolute;
        left: var(--space-xs);
        color: var(--system-brand-color);
        content: "";
        inline-size: var(--_marker-size);
        block-size: var(--_marker-size);
        background-color: oklch(from var(--brand-text-color) calc(l + 0.05) c h / 90%);
        transition:
          transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
          opacity 0.15s ease;
        clip-path: polygon(14% 44%, 0 58%, 38% 96%, 100% 16%, 84% 2%, 38% 68%);
        transform: scale(0.9) translateY(-6%);
      }
    }

    &[aria-disabled="true"] {
      color: var(--muted-text);
      cursor: not-allowed;
      pointer-events: none;
    }

    &.is-active,
    &:focus-visible {
      background-color: var(--input-background-active-color);
      color: var(--brand-text-color);
      outline: none;
    }

    &:hover:not(.is-active) {
      background-color: var(--input-background-hover-color);
    }
  }

  .listbox-group {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .listbox-group-label {
    position: sticky;
    top: 0;
    background-color: oklch(from var(--input-background-color) calc(l - 0.05) c h / 95%);
    padding: var(--space-xs) var(--space-s);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--muted-text);
    font-weight: var(--font-weight-l);
    user-select: none;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.1s ease;
  }

  .listbox-group-label ~ li {
    padding-left: var(--space-l);
  }

  /* --- Combobox ---*/
  .combobox-container {
    &:has([readonly]) {
      background-color: var(--input-background-color);
      border-style: solid;

      & .chevron-icon {
        cursor: pointer;
        color: inherit;
      }

      & .clear-icon {
        display: inline-grid;
      }
    }

    &:has(:disabled) {
      input {
        cursor: not-allowed;
      }

      & .clear-icon {
        display: none;
      }
    }
  }

  .combobox-input {
    &[readonly] {
      color: inherit;
      cursor: pointer;
    }
  }

  .combobox-results-popover {
    inset: auto;
    margin: 0;
    position: fixed;
    border: 0;
    background-color: var(--input-background-color);
    color: inherit;
    border-radius: var(--space-2xs);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    font-size: var(--font-size-s, 0.9em);
    top: anchor(bottom);
    left: anchor(left);
    min-inline-size: anchor-size(width);
    margin-block-start: var(--space-xs);
    position-try-fallbacks: flip-block;
  }

  .combobox-results-popover .listbox {
    max-height: 15lh;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  }

  /* --- Popover --- */
  .tool-btn,
  .popover-trigger-btn {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 1.1em;
    cursor: pointer;
    user-select: none;
    height: 1em;
    aspect-ratio: 1;
    outline: none;
    box-shadow: none;
    display: inline-grid;
    align-content: center;
    place-items: center;
    z-index: 2;
    /*position: absolute;*/
    /*right: 0.6em;*/
    /*top: 1.1em;*/
    /*transform: translateY(-50%);*/
  }

  .info-tooltip-popover {
    inset: auto;
    margin: 0;
    position: fixed;
    border: 1px solid var(--border-color);
    padding: var(--space-s, 0.5rem) var(--space-m, 0.75rem);
    border-radius: var(--space-xs, 4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 32ch;
    font-size: var(--font-size-s, 0.9em);
    line-height: 1.4;
    position-area: bottom right;
    margin-block-start: var(--space-2xs, 0.25rem);
    position-try-fallbacks: flip-block, flip-inline;
    z-index: 3;
  }

  .popover-trigger-btn:hover ~ .info-tooltip-popover {
    display: block;
  }

  .popover-description {
    color: var(--brand-text-color);
  }
}
