@layer base, components;

@import '@olsen-mono/css-foundation/reset.css' layer(base);
@import '@olsen-mono/css-foundation/typesetting.css' layer(base);

/* App-spesifikke stiler under */
@layer components {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .box {
    border: 1px solid #cccccc;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
  }
}
